body{
	unicode-bidi:embed
}
div.anoshc-slick-vtext{
	margin: 0;
	max-height: 36px;
	overflow: hidden;
}

div.anoshc-slick-vtext span{
	display: block;
	line-height: 35px
}

div.anoshc-slick-vtext span.slick-slide{
	display: flex;
	align-items: center;
}