/*-----Categories dropdown widget-----*/
#anony-cat-list{
	
	li, li ul li {
		position: relative;
		background: none;
		background-color:transparent;
		padding: 0;
	}
	
	li a{
		display: inline-block!important;
		vertical-align: middle;
		color: #444444;
		font-size: 14px;
		padding: 10px;
		width:100%
	}
	.has-children{
		background-color: #fbfbfb!important;
	}
	.has-children ul{
		background-color: #fff!important;
	}

	.toggle-category {
		cursor: pointer;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		padding: 5px;
		position: absolute;
		top: 0;
		right: 0;
		max-width:30px;
	}

}

#anony-cat-list {
	position: relative;
	width: 100%;
	border-radius: 5px;
	padding: 0 8px;
	overflow: hidden;
}

body.rtl{
	#anony-cat-list .toggle-category {
		right: auto;
		left: 0;
	}
}

/* End categories dropdown widget */